@import "./_vars.scss";

body {
  background: $color-black;
  position: relative;
  display: block;
}
//nav----------------------
nav img {
  padding: 2%;
  max-width: 30%;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: $font-title;
}
nav li a {
  line-height: 20px;
}
nav{
  position: fixed;
  z-index: 100;
  background: $color-black;
}

//------------------------------------------

//Landing hero
.landing-hero{
  margin-top: 10%;
  width: 100vw;
  height: 42vh;
  filter: brightness(.4);
  position: relative;
}

#grad-hiring{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 180px;
  left: 0;
  width: 100%;
}
#grad-hiring-info{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 250px;
  left: 0;
  width: 75%;
  margin-left: 14%;

}
//-------------------------------------------

//LANDING STATEMENT
.landing-statement{
  background: white;
  display: block;
  font-family: Helvetica;
}




//-------------------------------
p {
  display: block;
  color: white;
}
pre {
  white-space: pre;
  display: block;
}

hr {
  padding: 2.5%;
}
span, em, strong {
  display: inline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}




button {
  border: 1px solid $color-black;
}

button:hover {
  border: 1px solid blue;
  background: $color-primary;
}

h1 {
  display: block;
  font-size: calc(1em * 2.2);
}

h2 {
  display: block;
  font-size: calc(1em * 1.9);
}

h3 {
  display: block;
  font-size: calc(1em * 1.6);
}

h4 {
  display: block;
  font-size: calc(1em * 1.4);
}

h5 {
  display: block;
  font-size: calc(1em * 1.2);
}

h6 {
  display: block;
  font-size: calc(1em * 1.1);
}

label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  padding: $pad;
  border: 1px solid $color-lightgray;
  margin-bottom: $pad;
  resize: none;

  &:focus {
    border: 1px solid $color-darkgray;
  }

  &::placeholder {
    color: $color-lightgray;
  }
}

button, input[type="submit"] {
  background: $color-lightgray;
  padding: $pad;
  border: none;

  &:hover {
    background: $color-gray;
  }

  &:active {
    background: $color-darkgray;
  }
}
