@import "./_vars.scss";

body {
  background: white;
  position: relative;
  display: block;
}
//nav----------------------
nav img {
  margin-top: 2%;
  margin-left: 15%;
  max-width: 16%;
  display: inline;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: $font-title;

}
nav li {
  line-height: 20px;
  display: inline;
  margin-left: 15%;
}
nav ul{
  float: left;
  position: absolute;
  margin-left: -5%;
  margin-top: 3.3%;
}
nav{
  position: fixed;
  z-index: 100;
  background: $color-black;
  height: 15%;
  display: inline;
}

//------------------------------------------

//Landing hero 1
.landing-hero{
  margin-top: -17%;
  width: 100vw;
  height: 42vh;
  filter: brightness(.4);
  position: relative;
}

#grad-hiring{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 25vh;
  left: 0;
  width: 100%;
}
#grad-hiring-info{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 32vh;
  left: 0;
  width: 100%;
}
//-------------------------------------------

//Landing hero 2
.landing-hero{
  margin-top: 7%;
  width: 100vw;
  height: 40vh;
  filter: brightness(.4);
  position: relative;
}

#grad-explination{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 99vh;
  left: 0;
  width: 100%;
}
#grad-explination-text{
  color: white;
  font-family: $font-title;
  position: absolute;
  text-align: center;
  top: 105vh;
  left: 0;
  width: 75%;
  margin-left: 14%;
}
.landing-talent-button {
  color: white;
  position: absolute;
  left: 45vw;
  width: 10%;
  top: 118vh;
  text-align: center;
  background-color: $Buttons;
  padding: $pad;
  border-radius: 30px;
}
//-------------------------------------------


//LANDING STATEMENT
.landing-statement{
  background: white;
  display: block;
  font-family: Helvetica;
}




//-------------------------------

//LANDING STUDENT IMGS

.grad-pics {
  display: inline-block;
  width: 10vw;
  height: 20vh;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: 3%;
  margin-bottom: 0%;
  text-color: black;
  position: relative;
  margin-left: 7vw;
  margin-right: 7vw;
  color: black;
  box-shadow: 100px;
  -webkit-box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 2.5px 0px rgba(0, 0, 0, 1);
}

//----------------------------------






p {
  display: block;
  color: white;
}
pre {
  white-space: pre;
  display: block;
}

hr {
  padding: 2.5%;
}
span, em, strong {
  display: inline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}




button {
  border: 1px solid $color-black;
}

button:hover {
  border: 1px solid blue;
  background: $color-primary;
}

h1 {
  display: block;
  font-size: calc(1em * 2.2);
}

h2 {
  display: block;
  font-size: calc(1em * 1.9);
}

h3 {
  display: block;
  font-size: calc(1em * 1.6);
}

h4 {
  display: block;
  font-size: calc(1em * 1.4);
}

h5 {
  display: block;
  font-size: calc(1em * 1.2);
}

h6 {
  display: block;
  font-size: calc(1em * 1.1);
}

label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  padding: $pad;
  border: 1px solid $color-lightgray;
  margin-bottom: $pad;
  resize: none;

  &:focus {
    border: 1px solid $color-darkgray;
  }

  &::placeholder {
    color: $color-lightgray;
  }
}

button, input[type="submit"] {
  background: $color-lightgray;
  padding: $pad;
  border: none;

  &:hover {
    background: $color-gray;
  }

  &:active {
    background: $color-darkgray;
  }
}
