@import "./_vars.scss";

body {
  background: white;
  position: relative;
  display: block;
}
//nav----------------------
nav img {
  margin-top: 2%;
  margin-left: 15%;
  max-width: 16%;
  display: inline;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: $font-title;

}
nav li {
  line-height: 20px;
  display: inline;
  margin-left: 15%;
}
nav ul{
  float: left;
  position: absolute;
  margin-left: -5%;
  margin-top: 3.3%;
}
nav{
  position: fixed;
  z-index: 100;
  background: $color-black;
  height: 10%;
  display: inline;
}

@media only screen and (max-width: 300px) {
  nav img {
    margin-top: 3%;
    margin-left: 15%;
    display: inline;
    width: 20vw;
    height: auto;
  }
  a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: $font-title;

  }
  nav li {
    line-height: 15px;
    display: inline;
    margin-left: 15%;
    font-size: 0.8em;
  }
  nav ul{
    float: left;
    position: absolute;
    margin-left: -5%;
    margin-top: 3.3%;
  }
  nav{
    position: fixed;
    z-index: 100;
    background: $color-black;
    height: 9%;
    display: inline;
  }
}
//------------------------------------------



//FOOTER CSS------------------------
footer{
  background-color: black;
}


//----------------------------------




p {
  display: block;
  color: white;
}
pre {
  white-space: pre;
  display: block;
}

hr {
  padding: 2.5%;
}
span, em, strong {
  display: inline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}




button {
  border: 1px solid $color-black;
}

button:hover {
  border: 1px solid blue;
  background: $color-primary;
}

h1 {
  display: block;
  font-size: calc(1em * 2.2);
}

h2 {
  display: block;
  font-size: calc(1em * 1.9);
}

h3 {
  display: block;
  font-size: calc(1em * 1.6);
}

h4 {
  display: block;
  font-size: calc(1em * 1.4);
}

h5 {
  display: block;
  font-size: calc(1em * 1.2);
}

h6 {
  display: block;
  font-size: calc(1em * 1.1);
}

label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  padding: $pad;
  border: 1px solid $color-lightgray;
  margin-bottom: $pad;
  resize: none;

  &:focus {
    border: 1px solid $color-darkgray;
  }

  &::placeholder {
    color: $color-lightgray;
  }
}

button, input[type="submit"] {
  background: $color-lightgray;
  padding: $pad;
  border: none;

  &:hover {
    background: $color-gray;
  }

  &:active {
    background: $color-darkgray;
  }
}
