@import "./_vars.scss";

.contact-form-header {
  text-align: left;
  margin: $pad 5%;
}

.contact-form-response {
  text-align: center;
  margin: $pad 0;
  max-height: 100%;
  padding: 0 $pad;
}
.connect-form{
  display: inline-block;
  margin-top: 3%;
  padding-bottom: 1%;
}

form{
  display: inline-block;
  margin-top: 12vh;
  color: $color-black;
  width: 80%;
  margin-left: 10%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.checkbox-container {
  display: inline;
  .checkbox{
    width: 5%;
  }
  .checkbox-text{
    color: $color-black;;
  }
}

.connect-form {
  margin-top: 0;
  button {
    color: $color-white;
    width: 50%;
    text-align: center;
    background-color: $Buttons;
    padding: $pad;
    margin: $pad 25%;
    border-radius: 30px;
  }
}

.terms-modal {
  text-align: center;
  background: white;
  margin-top: 4.5em;
  @media only screen and (min-width: 420px) {
    margin-top: 5.5em;
  }
  @media only screen and (min-width: 760px) {
    margin-top: 6em;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  padding: $pad;
  margin-top: 4.5em;
  @media only screen and (min-width: 420px) {
    margin-top: 5.5em;
  }
  @media only screen and (min-width: 760px) {
    margin-top: 4em;
  }
  button {
    color: $color-white;
    width: 50%;
    text-align: center;
    background-color: $Buttons;
    padding: $pad;
    margin: $pad 25%;
    border-radius: 30px;
  }
}
.modal-header{
  text-align: center;
  padding: $pad;
}
.modal-content{
  text-align: left;
  padding: $pad;
}
