@import "./_vars.scss";

.hero-container {
  color: $color-white;
  font-family: $font-title;
  text-align: center;
  display: block;
  height: auto;
  max-width: 100%;
}

.hero-image {
  height: auto;
  max-width: 100%;
  filter: brightness(.25);
  position: relative;
  margin-top: 3.5em;
  @media only screen and (min-width: 420px) {
    margin-top: 4.5em;
  }
  @media only screen and (min-width: 760px) {
    margin-top: 5em;
  }
}

.hero-text {
  top: 2em;
  padding: 10% 5%;
  position: absolute;
  @media only screen and (min-width: 420px) {
    top: 3.5em;
  }
  @media only screen and (min-width: 760px) {
    top: 5em;
    font-size: 1.2em;
  }
}

.students {
  margin-top: 2%;
  max-width: 100%;
  text-align: center;
  color: $color-black;
}

.student-container {
  position: relative;
  max-width: 20%;
  margin: 0 2.5%;
  float: left;
  p {
    margin-top: 5%;
    font-size: .8em;
    word-wrap: normal;
    font-style: italic;
    font-family: arial;
    @media only screen and (min-width: 960px) {
      font-size: 1.2em;
    }
    span {
      display: none;
      @media only screen and (min-width: 420px) {
      display: inline;
      }
    }
  }
  h5 {
    font-weight: 600;
    margin-top: 5%;
    font-size: .8em;
    font-family: $font-title;
    @media only screen and (min-width: 960px) {
      font-size: 1.2em;
    }
  }
  h6{
    color: $color-gray;
    margin-top: 3%;
    font-size: .8em;
    @media only screen and (min-width: 960px) {
      font-size: 1.2em;
    }
  }
}

.grad-pics {
  border-radius: 100%;
  width: 75%;
  height: 100%;
}

.hero-bottom-image {
  height: auto;
  max-width: 120%;
  filter: brightness(.25);
  position: relative;
  margin-top: 2%;
  @media only screen and (min-width: 420px) {

  }
  @media only screen and (min-width: 760px) {

  }
}
.hero-bottom-background {
  position: relative;
  background-image: url(https://s3.amazonaws.com/codefellows-hiring-partners/Screen+Shot+2017-08-14+at+11.27.09+PM.png);
  background-size: auto 100%;
  background-repeat: repeat-y;
}
.hero-bottom-text {
  background: black;
  opacity: 0.80;
  color: $color-white;
  font-family: $font-title;
  padding: 5% 5%;
  h6 {
    text-align: left;
    padding: 2.5% 0;
  }
}

.landing-talent-button {
  color: $color-white;
  margin: 2.5% 35%;
  width: 10%;
  text-align: center;
  background-color: $Buttons;
  padding: $pad;
  border-radius: 30px;
}
