@import "./_vars.scss";

.connect-button{
  color: $color-white;
  background-color: $Buttons;
  padding: $pad;
  border-radius: 30px;
}

.connect-container{
  max-height: 100%;
  width: 94%;
  margin: 0 3%;
  background: $color-white;
  z-index: $above-background;
  padding: $pad;
  padding-bottom: 1em;
  position: sticky;
  text-align: center;
  border-bottom: 1px solid $color-lightgray;
  top: 3.25em;
  @media only screen and (min-width: 420px) {
  top: 4.25em;
  }
  @media only screen and (min-width: 760px) {
  top: 4.75em;
  }
  p {
    margin-bottom: 1em;
    color: $color-black;
    font-size: 0.8em;
  }
}
