@import "./_vars.scss";

.talent-item p{
  color: $color-black;
  padding-top: .5%;
  padding-bottom: .5%;
}

.talent-item h5{
  margin-top: 5%;
  border-top: 1px solid gray;
  padding-top: 2%;
  padding-bottom: 1%;
}

.talent-icon{
  max-width: 5%;
  max-height: 5%;
  margin-right: 2%;
}

div .bold p{
  font-weight: bold;
}

#nickname{
  font-weight: bolder;
}
