

//COLOR VARIABLES
$color-primary: #4E648E;
$color-secondary: #7788AA;
$color-primary-background: white;
$color-error: #ff777a;
$color-success: #188D00;
$color-black: black;
$color-white: white;
$color-lightgray: #B5BAC3;
$color-gray: #52555B;
$color-darkgray: #6E7177;
$Buttons: #b62f20; //codefellows red
$font: arial;


//FONT VARIABLES

$font-title: gotham-rounded;

//FONT SIZE VARIABLES

$p: 1em;
$pad: 0.5em;

//Z-index
$above-all: 5;
$above-background: 3;
$below-background: -3;
$behind-all: -5;
