

//COLOR VARIABLES
$color-primary: #4E648E;
$color-secondary: #7788AA;
$color-primary-background: white;
$color-error: #ff777a;
$color-success: #77ff7a;
$color-black: black;
$color-white: white;
$color-lightgray: #B5BAC3;
$color-gray: #52555B;
$color-darkgray: #6E7177;
$Buttons: #b62f20; //codefellows red



//FONT VARIABLES
@font-face {
  font-family: gotham-rounded;
  src: url('./src/style/assets/font/Gotham-Rounded/GothamRounded-Book.ttf');
}

$font-title: gotham-rounded;
$font-p: Helvetica;



//FONT SIZE VARIABLES
$h1: 4em;
$h2: 1.2em;
$p: 1em;



//H1 size 4em
// H2 size 1.2 em
// p 1.2 em





$pad: 0.5em;
