$color-primary: #4E648E;
$color-secondary: #7788AA;
$color-error: #ff777a;
$color-success: #77ff7a;
$color-black: #1C1D20;
$color-white: #D6D8DD;
$color-lightgray: #B5BAC3;
$color-gray: #52555B;
$color-darkgray: #6E7177;

$pad: 0.5em;
